/* ESTILOS APLICADOS A TODO EL DOCUMENTO */
*{
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    /* background-color: #1e1d2b; */
}

/* APLICANDO EL GRID AL DOCUMENTO */

#seccion1{
    grid-area: header;
}

#about{
    grid-area: seccion2;
}

#menu{
    grid-area: seccion3;
}

#services{
    grid-area: seccion4;
}

#quality{
    grid-area: seccion5;
}

#pie{
    grid-area: seccion6;    
}

#principal{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header"
        "seccion2"
        "seccion3"
        "seccion4"
        "seccion5"
        "seccion6";
}   

/* ESTILOS APLICADOS EN LAS 6 SECCIONES DE MI PAGINA WEB */

#seccion1{
    display: flex;
    flex-direction: column;
    background-color: #1e1d2b;
    row-gap: 1%;
    width: 100%;
}

/* ESTILOS APLICADOS A LA BARRA DE NAVEGACION, EN EQUIPOS MOVILES */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1d2b;
    width: 100%;
    height: 8%;
    /* padding-left: 2%;
    padding-right: 2%; */
}

/* ESTILOS APLICADOS AL TEXTO FOODS DEL NAVBAR*/
.titulo1{
    color: #ff702a;
    font-size: 26px;
}

/* ESTILOS APLICADOS A LA IMAGEN DEL MENU DE HAMBURGUESA */
.icon1{
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff702a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/* SE OCULTA LA LISTA YA QUE NO DEBE SER VISIBLE EN PANTALLAS DE MENOR WIDTH*/
.lista{
    display: none;
}   

/* ESTILOS PARA LA LISTA DESPLEGABLE EN LA VISTA DE CELULAR */
.lista2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6%;
    align-items: center;
    width: 100vw;
    height: 30%;
    background-color: #2c2b47;
}

.lista2 a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.resaltar{
    border: 1px solid #087f5b;
    padding: 1%;
}

/* ESTILO PARA LA PANTALLA INICIAL DESPUES DE LA BARRA DE NAVEGACION */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1d2b;
    row-gap: 2%;
    width: 100%;
    height: 62%;
}

.contenido1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    gap: 1%;
}

.titulo2{
    color: #ff702a;
    font-size: 2rem;
    margin: 0%;
}

.contenido1 p{
    color: #fff;
    width: 65%;
}

.contenido1 button{
    background-color: #ff702a;
    border: 1px solid #ff702a;
    width: 45%;
    height: 20%;
    color: #fff;
}

.imagen1{
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 50%;
}

/* ESTILOS PARA LA SECCION  ABOUT */
#about{
    display: flex;
    flex-direction: column-reverse;
    background-color: #1e1d2b;
    row-gap: 3%;
    width: 100%;
    height: 100%;
}   

.imagen2{
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 30%;
}

.contenido2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
    gap: 1%;
}

.contenido2 h3, .contenido3 h3{
    font-size: 18px;
    color: #ff702a;
}

.contenido2 span{
    font-size: 28px;
    width: 60%;
    color: #fff;
}

.contenido2 p{
    font-size: 20px;
    width: 50%;
    color: #fff;
    width: 80%;
}

.contenido2 button{
    background-color: #ff702a;
    border: 1px solid #ff702a;
    width: 17%;
    height: 10%;
    color: #fff;
}

/* ESTILOS PARA LA SECCION MENU */

#menu, #services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1d2b;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenido3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 18%;
}

.contenido3 span{
    font-size: 28px;
    width: 100%;
    color: #fff;
}

.contenido4, .contenido5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 82%;
}

.contenido4 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffefe8;
    width: 25%;
    height: 30%;    
}

.descrip{
    font-size: 12px;
}

.contenido4 label{
    color: #ff702a;
    font-size: 12px;
}
.contenido4 img{
    width: 27%;
    height: 60%;
}

/* ESTILOS PARA LA SECCION DE SERVICIOS */

#services img{
    width: 37%;
    height: 50%;
}

.contenido5 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 30%;    
}

.contenido5 span{
    color: #ff702a;
}

.contenido5 p{
    color: #fff;
    font-size: 14px;
}

/* ESTILOS PARA LA SECCION QUALITY */

#quality{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1d2b;
    width: 100%;
    height: 100%;
    
}

#quality div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 20%;
    background-color: #ffefe8;
}

#quality button{
    background-color: #ff702a;
    border: 1px solid #ff702a;
    color: #ffefe8;
    width: 20%;
    height: 15%;
}

#quality p{
    font-size: 22px;
}

#pie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1d2b;
    height: 100%;
    width: 100%;
}

#pie div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30%;
    align-items: start;
    width: 100%;
    height: 20%;
}

#pie .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4% ;
    align-items: center;
    width: 100%;
    height: 20%;
}

#pie h4{
    color: #ffefe8;
    font-size: 28px;
    border-bottom: 1px solid #ff702a;
}

#pie span{
    color: #ffefe8;
    font-size: 18px;
}

/* ------------------------------------------------------------------------------------------------ */
/* ESTILOS PARA VERSION DE TABLET Y DE ESCRITORIO */

@media (min-width: 769px) {

/* ESTILOS PARA LA PRIMERA SECCION ESCRITORIO Y TABLETS */
    
.navbar{
    width: 100%;
}
.lista2{
        display: none;
    }

    .icon1{
        display: none;
    }

    .lista{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 35%;
    }

    .lista a{
        text-decoration: none;
        color: #fff;
    }

    .intro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 92%;
    }

    .contenido1{
        justify-content: center;
        width: 50%;
    }

    .contenido1 p{
        color: #fff;
        width: 45%;
    }

    .titulo2{
        color: #ff702a;
        font-size: 4rem;
        margin: 0%;
    }

    .contenido1 button{
        background-color: #ff702a;
        border: 1px solid #ff702a;
        width: 150px;
        height: 15%;
        color: #fff;
    }
    .imagen1{
        width: 50%;
    }


    /* ESTILOS PARA LA SEGUNDA SECCION ESCRITORIO Y TABLETS */

    #about{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .contenido2{
        width: 50%;
    }

    .imagen2{
        width: 50%;
        height: 100%;
        background-size: 55% 55%;
        background-position: 50% 13%;
    }

    .contenido2 button{
        width: 25%;
        height: 15%;
        color: #fff;
    }

    /* ESTILOS PARA LA SECCION DE MENU TABLET ESCRITORIO */

    .contenido4, .contenido5{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 5%;
    }

    .contenido4 div, .contenido5 div{
        justify-content: center;
        row-gap: 2%;
        height: 60%;
    }
    
    #quality div{
        width: 70%;
        height: 60%;
    }

    #quality p{
        font-size: 42px;
    }
}